body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.banner {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    padding: 50px;
    color: white;
    font-size: 24px;
    animation: changeBg 5s infinite alternate;
}

.banner-second {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    padding: 50px;
    color: white;
    font-size: 24px;
    animation: animationsecond 2s infinite alternate;
}

@keyframes changeBg {
    0% {
        background: linear-gradient(90deg, #ff7e5f, #feb47b);
    }
    50%{
        background: linear-gradient(90deg, #83d437, #0c57da);
    }
    100% {
        background: linear-gradient(90deg, #6a11cb, #2575fc);
    }
}

.content {
    margin-top: 50px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
button {
    width: 200px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}
.disanimate-btn {
    background-color: rgb(255, 0, 0);
}
button:hover {
    transform: scale(1.1);
}

#animated-box {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background-color: rgb(30, 255, 0);
    margin: 20px auto;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    animation: animationthird 2s infinite alternate;
}

@keyframes animationthird {
    0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes animationsecond {
    from {background: rgb(206, 104, 86);}
    to {background: rgb(112, 94, 218);}
  }